* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
  color: white;
  font-family: arial;
}

nav li {
  display: inline-block;
  list-style: none;
}



@media only screen and (min-width: 500px) {
  .grid {
    margin-top: 1em;

    display: grid;
    grid-template-columns: repeat(8, 3fr);
    grid-template-rows: 100vh 3fr 3fr 3fr 3fr 3em;

    grid-gap: 1em;
  }

  .home {
    background-image: url('');
    background-color: #222222;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1/9;
    grid-row: 1;
  }

  .home-message {
    color: white;
    font-size: 5em;

    grid-column: 6/9;
    grid-row: 1;
    height: 100vh;

    justify-self: right;
    align-self: center;

    text-align: right;
  }

  .eat:hover {
    color: #ea756f;
    cursor: default;
  }

  .code:hover {
    color: #ff9857;
    cursor: default;
  }

  .sleep:hover {
    color: #a5d98c;
    cursor: default;
  }

  .repeat:hover {
    color: #76c0e3;
    cursor: default;
  }




  .donkey-kong-image {
    grid-area: donkey-kong-image;

    /* background-image: url('./images/donkey-kong.png'); */
    background-color: #6e007c;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;

    grid-column: 1/9;
    grid-row: 2/6;

    /*border: 1px solid white;*/
  }

  .donkey-kong-title {
    grid-area: donkey-kong;
    grid-column: 2/5;
    grid-row: 3/5;

    padding: 1em;

    /*border: 1px solid white;*/


    text-align: center;
    font-size: 3em;
  }

  .donkey-kong-text {
    grid-area: donkey-kong;
    grid-column: 5/8;
    grid-row: 3/5;

    padding: 1em;

    border: 1px solid transparent;
    border-radius: 2px;

    text-align: justify;
  }

  .donkey-kong-text:hover {
    border: 1px solid red;
  }








  .footer {
    grid-area: footer;
    grid-column: 1/6;
    grid-row: -1;

    text-align: center;


    padding: 1em;
  }
}
